main{
    position: relative;
    background-color: #ddd;
    height: 100vh;
}

.green-bar{
    background-color: #009587;
    height: 20vh;
}

.chat{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0%);
    height: 90vh;
    background-color: red;
}

.left-column{
    background-color: #eee;
}

.right-column .row{
    height: 100%;
    background-color: green;
}

.account,
.profile-opened-chat{
    background-color: #eaeaea;
    height: 70px;
}

.notification{
    background-color: #8ddafc;
}


.profile-buttons,
.chat-buttons,
.text-message .fas,.far{
    color: #b1b1b1;
}

.bell-icon{
    width: 70px;
    height: 70px;
    color: #8ddafc;
}

.grey{
    background-color: #b1b1b1;
}

.text-message input{
    height: 45px;
}

.text-message{
    background-color: #f3ede8;
    height: 70px;
}

.chat-messages .row{
    height: 100%;
    
}

.chat-messages{
    height: calc(100% - 140px);
    background-color: coral;
}

