main{
    position: relative;
    background-color: #ddd;
    height: 100vh;
    background: rgb(221,221,221);
    background: linear-gradient(0deg, rgba(221,221,221,1) 81%, rgba(0,149,135,1) 81%);
}


.chat{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0%);
    height: 90vh;
}

.left-column{
    background-color: #eee;
}

.left-column .row,
.right-column .row,
.chat .row{
    height: 100%;
}

.chat-messages{
    height: 100%;
    overflow-y: scroll;
}

.contact-list li:hover{
    cursor: pointer;
    background-color: #ddd;
}

.account,
.profile-opened-chat{
    background-color: #eaeaea;
    height: 70px;
}

.notification{
    background-color: #8ddafc;
    height: 90px;
}

.search{
    height: 20px;
}

.contact-list{
    height: calc(100% - 180px);
}

.profile-buttons,
.chat-buttons,
.text-message .fas,.far{
    color: #b1b1b1;
}

.grey{
    background-color: #b1b1b1;
}

.bell-icon{
    width: 70px;
    height: 70px;
    color: #8ddafc;
}

.text-message input{
    height: 45px;
}

.text-message{
    background-color: #f3ede8;
    height: 70px;
}

.chat-messages{
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
}

.message{
    width: 300px;
    max-width: 300px;
    padding: 15px 15px;
    background-color: #d5f9ba;
    border-radius: 10px;
    font-size: 10px;
}

.my-text{
    background-color: #d5f9ba;
}

.interlocutor-text,
.message-menu div{
    background-color: #fff;
}

.time-clock{
    right: 7px;
}

.delete-menu,
.message-menu div{
    cursor: pointer;
}
.message-menu div:hover{
    background-color: #eee !important;
}

.message-menu{
    z-index: 5;
}
