<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
</head>
<body>
    <div id="app">
        <main class=" d-flex justify-content-center align-items-center">
            <div class="chat col-8">
                <div class="row">
                    <!-- LEFT COLUMN -->
                    <div class="left-column col-4">
                        <div class="row">
                            <!-- ACCOUNT -->
                            <div class="account container col-12 p-2 d-flex justify-content-between">
                                <div class="your-account d-flex align-items-center fs-5">
                                    <div class="profile-picture  col-2">
                                        <img class="rounded-circle img-fluid"  src="img/avatar_io.jpg" alt="">
                                    </div>
                                    <span class="profile-name">Nome Profilo</span>
                                </div>
                                <div class="d-flex align-items-center fs-4">
                                    <a href="#"><i class="fas fa-circle-notch me-3"></i></a>
                                    <a href="#"><i class="fas fa-comment-alt me-3"></i></a>
                                    <a href="#"><i class="fas fa-ellipsis-v me-3"></i></a>
                                </div>
                            </div>
                            <!-- NOTIFICATION -->
                            <div class="notification col-12 d-flex align-items-center p-3">
                                <div class="bell-icon rounded-circle bg-white me-3 d-flex justify-content-center align-items-center">
                                    <i class="fas fa-bell-slash fs-3"></i>
                                </div>
                                <div class="notification-text">
                                    <div class="fw-bold fs-6">Ricevi notifiche di nuovi messaggi</div>
                                    <a href="#" class="fs-6">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            <!-- SEARCH -->
                            <div class="search-contact p-2">
                                <div class="d-flex align-items-center p-1 ps-2 pe-3 bg-white">         
                                    <div class="search-lense col-1 text-black-50">
                                        <i class="fas fa-search"></i>
                                    </div>
                                    <div class="text-input-search col-11">
                                        <input v-model="contactSearch" class="border-0 container-fluid" placeholder="Cerca o iniza una nuova chat" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- CONTACT LIST -->
                            <div class="contact-list">
                                <ul class="list-unstyled">
                                    <li v-for="(item, i) in contacts" :class="i == openChat ? 'grey' : ''" @click="chooseChat(i)">
                                        <div class="d-flex p-2" v-if="item.name.toLowerCase().includes(contactSearch)">
                                            <img :src="'img/avatar'+item.avatar+'.jpg'" alt="" class="rounded-circle me-2 img-fluid col-2">
                                            <div>
                                                <div class="name fw-bold ms-2">{{item.name}}</div>
                                                <div class="name ms-2">{{'Ultimo accesso:' + item.messages[item.messages.length - 1].date}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- RIGHT COLUMN -->
                    <div class="right-column col-8">
                        <div class="row">
                            <!-- PROFILE CHAT -->
                            <div class="border-start border-4 profile-opened-chat col-12 d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="p-4">
                                        <img class="img-fluid rounded-circle" src="img/avatar_1.jpg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <div class="nome-chat-contatto fw-bold">Michele</div>
                                        <div class="">Ultimo accesso oggi alle </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center fs-4">
                                    <a href="#"><i class="fas fa-search me-3"></i></a>
                                    <a href="#"><i class="fas fa-paperclip me-3"></i></a>
                                    <a href="#"><i class="fas fa-ellipsis-v me-3"></i></a>
                                </div>
                            </div>
                            <!-- CHAT -->
                            <div class="chat-messages col-12 p-5">
                                <div v-for="(item, i) in contacts[openChat].messages">
                                    <!-- messaggio inviato -->
                                    <div v-if="item.status == 'sent'">
                                        <div class="d-flex justify-content-end mb-3">
                                            <div class="my-text message position-relative">
                                                <i @click="deleteMenu(i)" class="delete-menu fas fa-angle-down text-black-50 position-absolute end-0 pe-3 fs-5 position-relative"></i>
                                                <div v-if="messageMenu && i == messageClicked" class="message-menu position-absolute">
                                                    <div class="p-2 bg-white text-center fs-6">message info</div>
                                                    <div @click="deleteMessage(i)" class="p-2 bg-white text-center fs-6">delete message</div>
                                                </div>
                                                <div class=" fs-6 fw-bold">{{item.text}}</div>
                                                <div class="time-clock text-black-50 position-absolute bottom-0">{{item.date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- messaggio ricevuto -->
                                    <div v-else>
                                        <div class="d-flex justify-content-start mb-3">
                                            <div class="bg-white message position-relative">
                                                <div class=" fs-6 fw-bold">{{item.text}}</div>
                                                <div class="time-clock text-black-50 position-absolute bottom-0">{{item.date}}</div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MESSAGE BAR -->
                            <div class="text-message col-12 d-flex justify-content-between align-items-center p-2">
                                <a href="#"><i class="far fa-smile col-1 text-center fs-3 ms-3"></i></a>
                                <input v-model="temporaryText" @keyup.enter="addItem" type="text" class="col-10 rounded-3 border-0" placeholder="      Scrivi un messaggio">
                                <a href="#"><i class="fas fa-microphone col-1 text-center fs-3 me-3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
    <script src="js/script.js"></script>
</body>
</html>